/* Richard Davies */
/* Data Science 2021 */

/* This is a comment */

/* This is a 
multi line comment */

/* CSS files can can also be used to access e.g. fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/* Format my paragraph */

/* My name */

h1 {
	color: #ffffff;
	font-size: 80px;
	margin-top: 30px;
	margin-bottom: 0px;	
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}
/* First line */

.title1 {
	color: #ffffff;
	font-size: 30px;
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}

/* Separate week titles */

.title2 {
	color: #ffffff;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	font-weight: normal;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbuttons {
	display:flex;
	justify-content:center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.chart {
	border-style: solid;
	border-width: 3px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px;
	border: red solid 2px;
	background-color: white;
	flex-flow: row wrap;
	
}


.pngchart {
	border-style: solid;
	border-width: 3px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px;
	border: red solid 2px;
	background-color: white;
	display: flex;
	flex-flow: row wrap;


}

body {
	background-color: #FF6766;
	width: 90%;
	display: grid;
	margin-left: 4.5%;
	margin-right: 2.25%;
  }

/* Button style */
container {
	align-content: center;
	justify-content: center;
	flex-flow: row wrapq;
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	border-color: #ffffff;
	padding: 30px;

}

.button{
	align-content: center;
	flex-flow: center;
	border-radius: 4px;
	background-color: #FF6766;
	border: 2px solid #ffffff;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 240px;
	cursor: pointer;
	margin: 5px;
	transition: color 1s;
	font-family: 'Open Sans Condensed', sans-serif;;
  }

  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;

  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;

  }

  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }

  .week1, .week2, .week3, .week4, .week5, .week7, .week8, .week9, .week10 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 10px;
  }

.sectionA, .sectionB, .sectionC {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 10px;
  }

  .text-section-A, .text-section-B {
	color: #ffffff;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	font-weight: normal;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 10px;
  }

  .text-hw-8{
  color: #ffffff;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
	font-weight: normal;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 10px;
  }