/* Richard Davies */
/* Data Science 2021 */

/* This is a comment */

/* This is a 
multi line comment */

/* CSS files can can also be used to access e.g. fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

/* Format my paragraph */

.chart {
	border-style: solid;
	border-width: 2px;
	margin-left: 10px;
	border-radius: 5px;
	padding: 5px;
	border-color: #000000;
}

body {
	background-color: #043653;
  }


